body {
    background: #e6e7e7;
}
h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(232, 39, 39), -2px -2px 5px rgb(17, 100, 242);
}
.box {
    text-align: center;
    margin-top: 10%;
    background: #fff;
    width: 20%;
    height: 120px;
    margin-left: 40%;
    border-radius: 8px;
    border: solid 2px #000;
}
.almem {
    margin-top: 8%;
 }
table, th, td {
    border: solid 1px #000;
}
th, td {
    padding: 10px;
    font-size: 20px;
}
@media (max-width: 700px){
    .box {
        text-align: center;
        margin-top: 30%;
        background: #fff;
        width: 60%;
        height: 120px;
        margin-left: 20%;
        border-radius: 8px;
    }
}
.box label {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
@keyframes rotatingRGB {
    0% {
      box-shadow: 3px rgb(255, 0, 0);
    }
    25% {
        box-shadow: 3px rgb(0, 255, 0);
    }
    50% {
        box-shadow: 3px rgb(0, 0, 255);
    }
    75% {
        box-shadow: 3px rgb(255, 0, 255);
    }
    100% {
        box-shadow: 3px rgb(255, 0, 0);
    }
  }
  
.box {
    animation: rotatingRGB 5s linear infinite;
  }
.copy{
font-size: 10px;
}
